{% extends 'garrison/_layouts/plugin' %}

{% set title = 'Login Protection'|t('garrison') %}
{% set selectedSubnavItem = 'shield' %}

{% block pluginContent %}
    <p>{{ 'Brute-force protection and login lockout. Implemented in Phase 3.'|t('garrison') }}</p>
{% endblock %}

{% block actionButton %}
    <a href="{{ url('garrison/shield') }}" class="btn">{{ 'Back to Shield'|t('garrison') }}</a>
{% endblock %}
