{# @param score int 0-100 #}
{# @param label string #}
{# @param color string #}

<div class="garrison-risk-gauge garrison-risk--{{ color }}">
    <div class="garrison-risk-gauge-value">{{ score }}</div>
    <div class="garrison-risk-gauge-label">{{ label }}</div>
</div>
